<div class="row">
    <nav id="subnav" class="col-2 d-none d-lg-block min-vh-100 bg-dark fixed-top nav flex-column p-0">
        <div class="seperator w-100 text-muted d-flex align-items-center pl-2">
            <small>NAVIGATION</small>
        </div>
        <a routerLink="overview" class="nav-link d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="material-icons mr-2">list</span>
                <div class="align-middle">Overview</div>
            </div>
        </a>
        <a routerLink="add" class="nav-link d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="material-icons mr-2">add_circle_outline</span>
                <span class="align-middle">Add new Tracker</span>
            </div>
        </a>
    </nav>
    <div id="main" class="col-12 col-lg-10 offset-lg-2 p-3">
        <router-outlet></router-outlet>
    </div>
</div>

