<mat-card [ngStyle]="{ 'background-color': tracker.color+'60' }" class="position-relative">
    <h2 class="text-center fw-bold" i18n="@@record-filter">Filter</h2>
    <mat-card-content class="text-center" [ngClass]="{'d-none': !showContent, 'd-block': showContent}"> 
        <form [formGroup]="form" class="container-fluid" *ngIf="tracker.records.length > 1">
            <!-- DATE FILTER -->
            <div class="row">
				<div class="col-12 col-lg-6">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label i18n="@@record-from">From</mat-label>
						<mat-select formControlName="intervalFrom" [compareWith]="compareFn" (selectionChange)="selectChange()">
							<mat-option *ngFor="let date of filterDates" [value]="date">{{ date | date: "shortDate" }}</mat-option>
						</mat-select>
						<mat-error *ngIf="form.controls['intervalFrom'].errors?.toIsBeforeFrom" i18n="@@record-filterFrom-error-fromIsBeforeTo">'From' can not be after 'To'</mat-error>
					</mat-form-field>
				</div>
                <div class="col-12 col-lg-6">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label i18n="@@record-to">To</mat-label>
						<mat-select formControlName="intervalTo" [compareWith]="compareFn" (selectionChange)="selectChange()">
							<mat-option *ngFor="let date of filterDates" [value]="date">{{ date | date: "shortDate" }}</mat-option>
						</mat-select>
						<mat-error *ngIf="form.controls['intervalTo'].errors?.toIsBeforeFrom" i18n="@@record-filterFrom-error-toIsBeforeFrom">'To' can not be before 'From'</mat-error>
					</mat-form-field>
				</div>
            </div>
            <!-- DISPLAY FILTER -->
			<div class="row">
				<div class="col">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>Display</mat-label>
						<mat-chip-list aria-label="Display filter" multiple selectable class="d-flex justify-content-center">
							<mat-chip 
								[selected]="incomeFilter"
								(click)="toggleIncomeFilter()">
								<div class="d-flex align-items-center">
									<mat-icon [ngStyle]="{'color': '#ceff95', 'font-size': '14px', 'width': '14px', 'height': '14px'}" class="me-2">circle</mat-icon>
									Income
								</div>
							</mat-chip>
							<mat-chip 
								[selected]="expenseFilter"
								(click)="toggleExpenseFilter()">
								<div class="d-flex align-items-center">
									<mat-icon [ngStyle]="{'color': '#ff9898', 'font-size': '14px', 'width': '14px', 'height': '14px'}" class="me-2">circle</mat-icon>
									Expense
								</div>
							</mat-chip>
						</mat-chip-list>
					</mat-form-field>
				</div>
			</div>
            <!-- CATEGORY FILTER -->
			<div class="row">
				<div class="col">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>Categories</mat-label>
						<mat-chip-list aria-label="Category filter" multiple selectable class="d-flex justify-content-center">
							<mat-chip 
								*ngFor="let filterCategory of filterCategories"
								[selected]="filterCategory.selected"
								(click)="toggleCategoryFilter(filterCategory.category)">
								<div class="d-flex align-items-center">
									<mat-icon [ngStyle]="{'color': filterCategory.category.color, 'font-size': '14px', 'width': '14px', 'height': '14px'}" class="me-2">circle</mat-icon>
									{{filterCategory.category.name}}
								</div>
							</mat-chip>
						</mat-chip-list>
					</mat-form-field>
				</div>
			</div>
        </form>
        <div *ngIf="tracker.records.length === 0" i18n="@@record-filter-norecords">No records to filter</div>
        <div *ngIf="tracker.records.length === 1" i18n="@@record-filter-oneRecord">You need more than 1 record to filter</div>
    </mat-card-content>
    <div class="m-3 floatingButtonRight">
        <button mat-raised-button (click)="resetChartInterval()" *ngIf="tracker.records.length > 1" matTooltip="Reset filter" i18n-matTooltip="@@record-reset-filter"><mat-icon>restore</mat-icon></button>
        <button mat-raised-button class="ml-2" (click)="toggleContent()" *ngIf="showContent" matTooltip="Minimize panel" i18n-matTooltip="@@record-minimize-panel"><mat-icon>minimize</mat-icon></button>
        <button mat-raised-button class="ml-2" (click)="toggleContent()" *ngIf="!showContent" matTooltip="Maximize panel" i18n-matTooltip="@@record-maximize-panel"><mat-icon>maximize</mat-icon></button>
    </div>
</mat-card>