<h1>Profile</h1>
<mat-divider></mat-divider>
<div class="container-fluid p-5" *ngIf="authenticatedUser">
    <mat-card class="text-white position-relative">
        <mat-card-content class="p-3">
            <div class="d-flex align-items-center">
                <mat-icon>person</mat-icon>
                <div class="h3 m-0 ml-3">{{authenticatedUser.firstName}} {{authenticatedUser.lastName}}</div>
            </div>
            <div class="container-fluid mt-3">
                <div class="row py-3">
                    <div class="col-3 font-weight-bold">Email</div>
                    <div class="col-9">{{authenticatedUser.email}}</div>
                </div>                
                <div class="row pt-3">
                    <div class="col-3 font-weight-bold">Created</div>
                    <div class="col-9">{{authenticatedUser.created | date: 'shortDate' }}</div>
                </div>
            </div>
        </mat-card-content>
        <div class="floatingButtonRight m-3">
            <button mat-raised-button (click)="changePassword()"><mat-icon>password</mat-icon></button>
            <button mat-raised-button (click)="editUser()" class="ml-2"><mat-icon>settings</mat-icon></button>
        </div>
    </mat-card>
</div>