<div class="p-3">
    <h1 class="text-center" i18n="@@user-edit-password">Edit password</h1>
</div>
<mat-divider></mat-divider>
<form class="container-fluid" [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5">
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label i18n="@@user-old-password">Old password</mat-label>
                <input matInput type="text" formControlName="oldPassword">
                <mat-error *ngIf="form.controls['oldPassword'].errors?.required" i18n="@@user-old-password-error-required">Please enter the old password</mat-error>
                <mat-error *ngIf="form.controls['oldPassword'].errors?.oldPasswordNotCorrect" i18n="@@user-old-password-error-incorrect">Old password does not match</mat-error>
            </mat-form-field>
        </div>  
    </div>
    <div class="row">      
        <div class="col">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label i18n="@@user-new-password">New password</mat-label>
                <input matInput type="text" formControlName="newPassword">
                <mat-error *ngIf="form.controls['newPassword'].errors?.required" i18n="@@user-new-password-error-required">Please enter the new password</mat-error>
                <mat-error *ngIf="form.errors?.nonEqualPasswords" i18n="@@user-new-password-error-nonequal">New passwords are not the same</mat-error>
            </mat-form-field>
        </div>   
    </div>
    <div class="row"> 
        <div class="col">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label i18n="@@user-new-password-confirm">Confirm new password</mat-label>
                <input matInput type="text" formControlName="newPasswordConfirm">
                <mat-error *ngIf="form.controls['newPasswordConfirm'].errors?.required" i18n="@@user-new-password-confirm-error-required">Please confirm the new password</mat-error>
                <mat-error *ngIf="form.errors?.nonEqualPasswords" i18n="@@user-new-password-error-nonequal">New passwords are not the same</mat-error>
            </mat-form-field>
        </div>  
    </div> 
    <div class="row">
        <div class="col">
            <button mat-raised-button class="bg-primary2 w-100" [disabled]="!form.valid" type="submit" i18n="@@user-edit-password">Edit password</button>
        </div>
        <div class="col">
            <button mat-raised-button (click)="closeDialog()" class="w-100 bg-danger" type="button" i18n="@@cancel">Cancel</button>
        </div>
    </div>
</form>