<mat-card [ngStyle]="{ 'background-color': tracker.color+'60' }" class="position-relative">
    <h2 class="text-center">Settings</h2>
    <mat-card-content>
        <table class="table">
            <tr>
                <th scope="row">UnitType</th>
                <td>{{ tracker.unitType.longName }} ({{ tracker.unitType.shortName }})</td>
            </tr>
            <tr>
                <th scope="row" style="width: 50%;">Created</th>
                <td>{{ tracker.created | date: 'shortDate' }}</td>
            </tr>
            <tr>
                <th scope="row">Color</th>
                <td><div *ngIf="tracker.color" [ngStyle]="{ 'background-color': tracker.color, 'border': '1px solid '+tracker.color, 'min-height': '22px' }" class="rounded text-center p-1 shadow"></div></td>
            </tr>
            <tr>
                <th scope="row">Record length</th>
                <td>{{ tracker.recordLength }}</td>
            </tr>
            <tr>
                <th scope="row">Record precision</th>
                <td>{{ tracker.recordPrecision }}</td>
            </tr>
        </table>
    </mat-card-content>
    <button mat-raised-button class="m-3 floatingButton" (click)="editTracker()"><mat-icon>settings</mat-icon></button>
</mat-card>