<mat-card [ngStyle]="{ 'background-color': tracker.color+'60' }" class="position-relative">
    <h2 class="text-center fw-bold" i18n="@@tracker-settings">Settings</h2>
    <mat-card-content [ngClass]="{'d-none': !showContent, 'd-block': showContent}">
        <table class="table table-borderless">
            <tr>
                <th scope="row" i18n="@@unittype">UnitType</th>
                <td>{{ tracker.unitType.longName }} ({{ tracker.unitType.shortName }})</td>
            </tr>
            <tr>
                <th scope="row" style="width: 50%;" i18n="@@tracker-created">Created</th>
                <td>{{ tracker.created | date: 'shortDate' }}</td>
            </tr>
            <tr>
                <th scope="row" i18n="@@tracker-color">Color</th>
                <td><div *ngIf="tracker.color" [ngStyle]="{ 'background-color': tracker.color, 'border': '1px solid '+tracker.color, 'min-height': '22px' }" class="rounded text-center p-1 shadow"></div></td>
            </tr>
            <tr>
                <th scope="row" i18n="@@tracker-record-precision">Record precision</th>
                <td>{{ tracker.recordPrecision }}</td>
            </tr>
        </table>
    </mat-card-content>
    <div class="floatingButtonRight m-3">
        <button mat-raised-button (click)="editTracker()" matTooltip="Edit settings" i18n-matTooltip="@@tracker-edit-settings"><mat-icon>settings</mat-icon></button>
        <button mat-raised-button class="ml-2" (click)="toggleContent()" *ngIf="showContent" matTooltip="Minimize panel" i18n-matTooltip="@@tracker-minimize-panel"><mat-icon>minimize</mat-icon></button>
        <button mat-raised-button class="ml-2" (click)="toggleContent()" *ngIf="!showContent" matTooltip="Maximize panel" i18n-matTooltip="@@tracker-maximize-panel"><mat-icon>maximize</mat-icon></button>
    </div>
</mat-card>