<ng-container *ngIf="incomeRecordsPlotData && expenseRecordsPlotData; else loading">
    <table class="w-100">
        <tr>
            <td width="20%">
                <app-toggle-button color="#ceff95" [isActive]="false">
                    <span class="font-weight-bold">INCOME</span>
                </app-toggle-button>
            </td>
            <td>
                <div [style.width.%]="incomeRecordsPlotData.percentile" class="income rounded shadow font-weight-bold text-success p-3">
                    + {{incomeRecordsPlotData.totalAmount}} {{tracker.currency}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <!-- 
                    20/04 > melding ontoereikend saldo
                    26/04 > Betaald: be76 3350 5545 9895 : luminius voorschot 4272501567
                    29/04 > dominiciliering opnieuw
                 -->
                <app-toggle-button color="#ff9898" [isActive]="false">
                    <span class="font-weight-bold">EXPENSE</span>
                </app-toggle-button>
            </td>
            <td class="d-flex justify-content-end">
                <div [style.width.%]="expenseRecordsPlotData.percentile" class="expense rounded shadow font-weight-bold text-danger p-3">
                    - {{expenseRecordsPlotData.totalAmount}} {{tracker.currency}}
                </div>
            </td>
        </tr>
        <tr>
            <td class="m-3 text-center" colspan="2">
                <div [style.width.%]="100" [ngClass]="{'income': totalRecordsPlotData > 0, 'expense': totalRecordsPlotData < 0}" class="rounded shadow font-weight-bold  p-3">
                        TOTAL: {{totalRecordsPlotData}} {{tracker.currency}}
                </div>
            </td>
        </tr>
    </table>
</ng-container>
<ng-template #loading>
    Loading...
</ng-template>