<div *ngIf="smallSize" class="d-flex flex-column">
    <div><small>Days: <span [ngStyle]="{ 'color': dayDifference().color }">{{ dayDifference().prefix }}{{ dayDifference().difference }} day{{dayDifference().difference === 1?'':'s'}}</span></small></div>
    <div><small>Amount: <span [ngStyle]="{ 'color': amountDifference().color }">{{ amountDifference().prefix }} {{amountDifference().difference}} {{tracker.unitType.shortName }}</span></small></div>
    <div><small>Average: <span [ngStyle]="{ 'color': averageDifference().color }">{{ averageDifference().prefix }} {{averageDifference().difference}} {{tracker.unitType.shortName }}/day</span></small></div>
</div>
<div *ngIf="!smallSize" class="d-flex flex-column">
    <div><span class="font-weight-bold mr-2">Days:</span><span [ngStyle]="{ 'color': dayDifference().color }">{{ dayDifference().prefix }}{{ dayDifference().difference }} day{{dayDifference().difference === 1?'':'s'}}</span></div>
    <div><span class="font-weight-bold mr-2">Amount:</span> <span [ngStyle]="{ 'color': amountDifference().color }">{{ amountDifference().prefix }} {{amountDifference().difference}} {{tracker.unitType.shortName }}</span></div>
    <div><span class="font-weight-bold mr-2">Average:</span> <span [ngStyle]="{ 'color': averageDifference().color }">{{ averageDifference().prefix }} {{averageDifference().difference}} {{tracker.unitType.shortName }}/day</span></div>
</div>