<div class="p-3">
    <h1 class="text-center" *ngIf="isEdit" i18n="@@unittype-edit">Edit UnitType</h1>
    <h1 class="text-center" *ngIf="!isEdit" i18n="@@unittype-add-new">Edit UnitType</h1>
</div>
<mat-divider></mat-divider>
<form class="container-fluid mt-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label i18n="@@unittype-shortname">Name (short)</mat-label>
                <input matInput type="text" formControlName="unitType_shortName">
                <mat-error *ngIf="form.controls['unitType_shortName'].errors?.required" i18n="@@unittype-shortname-error-required">Please enter a unittype name (short)</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label i18n="@@unittype-longname">Name (long)</mat-label>
                <input matInput type="text" formControlName="unitType_longName">
                <mat-error *ngIf="form.controls['unitType_longName'].errors?.required" i18n="@@unittype-longname-error-required">Please enter a unittype name (long)</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button *ngIf="isEdit" mat-raised-button class="bg-primary2 w-100" [disabled]="!form.valid" type="submit" i18n="@@unittype-edit">Edit UnitType</button>
            <button *ngIf="!isEdit" mat-raised-button class="bg-primary2 w-100" [disabled]="!form.valid" type="submit" i18n="@@unittype-add">Add UnitType</button>
        </div>
        <div class="col">
            <button mat-raised-button (click)="closeDialog()" class="w-100 bg-danger" type="button" i18n="@@cancel">Cancel</button>
        </div>
    </div>
</form>