<app-manipulation-dialog [heading]="(data.modelId?'Edit':'Add')+' budget tracker'" [service]="trackerService">
    <ng-container *ngIf="model.value">
        <form class="container-fluid" [formGroup]="form" #manipulationForm="ngForm">
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label i18n="@@tracker-name">Name</mat-label>
                        <input matInput type="text" formControlName="trackerName" [(ngModel)]="model.value.name">
                        <mat-error *ngIf="form.controls['trackerName'].errors?.required" i18n="@@tracker-name-error-required">Please enter a tracker name</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label i18n="@@tracker-color">Color</mat-label>
                        <input matInput formControlName="trackerColor" [style.background]="form.controls['trackerColor'].value+'60'" type="color"  [(ngModel)]="model.value.color"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label i18n="@@budgetTracker-currency">Currency</mat-label>
                        <input matInput type="text" formControlName="trackerCurrency" [(ngModel)]="model.value.currency">
                        <mat-error *ngIf="form.controls['trackerCurrency'].errors?.required" i18n="@@budgetTracker-currency-error-required">Please enter a currency</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </ng-container>
</app-manipulation-dialog>
