<app-dialog [heading]="heading">
    <ng-container *ngIf="!isLoading; else loading">
        <ng-content></ng-content>
        <div class="d-flex justify-content-center">
            <button *ngIf="isEdit" mat-raised-button class="bg-primary2 w-100 m-1" type="button" i18n="@@edit" (click)="confirm()" [disabled]="!contentForm?.valid">Edit</button>
            <button *ngIf="!isEdit" mat-raised-button class="bg-primary2 w-100 m-1" type="button" i18n="@@add" (click)="confirm()" [disabled]="!contentForm?.valid">Add</button>
            <button mat-raised-button (click)="close()" class="w-100 bg-danger m-1" type="button" i18n="@@cancel">Cancel</button>
        </div>
    </ng-container>
    <ng-template #loading>
        <div  class="d-flex flex-column align-items-center justify-content-center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            <span class="mt-3" i18n="@@loading">Loading...</span>
        </div>
    </ng-template>
</app-dialog>